build/
eclipse/
.gradle/
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
gradlew
gradlew.bat
gradle/
forge-1.7.10-10.13.2.1291-changelog.txt
CREDITS-fml.txt
build.gradle
java_src
src_root

